<div class="main-grid" >
  <div>
    <h1>Cakes</h1>
    <img src="https://i.pinimg.com/originals/f9/62/8f/f9628fe466dbde785e709976000fe402.jpg">
  </div>
  <div>
    <h1>Cookies</h1>
    <img src="https://www.gretchensbakery.com/wp-content/uploads/2016/06/sugar-cookies-feature-resize-.jpg">
  </div>
  <div>
    <h1>Muffins</h1>
    <img src="https://storage.googleapis.com/gen-atmedia/3/2019/01/4d4764df3d39aaa67d86030a90de8df5382087c7.jpeg">
  </div>


</div>
