<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title></title>
  </head>
  <body>
  <nav class="navbar">
    <a href="home">Home</a>
    <a href="cookies">Cookies</a>
    <a href="cakes">Cakes</a>
    <a href="muffins">Muffins</a>
    <a href="events">events</a>
  </nav>
    <%= yield %>
  </body>
  <script src="main.js" charset="utf-8"></script>
</html>
