.navbar {
  position: fixed;
  background-color: rgb(206, 206, 206, 1);
  top: 0;
  padding-left:30%;
  width:100%;
  z-index: 5;
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 20px;
}
.navbar a:hover {
  transform: scale(1.5);
  color: green;
  transition-duration: 2s;
}
