.navbar {
  position: relative;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
  font-family: "Nanum Myeongjo", serif;
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
}
.navbar a:hover {
  transform: scale(1.5);
  color: green;
  transition-duration: 2s;
}

.grid-container {
  display: grid;
  grid-template: auto/49% 49%;
  width: 100%;
  justify-content: center;
  padding-top: 10%;
  padding-left: 10%;
}

.wrapper {
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
.wrapper .subscribe, .wrapper .events-search {
  text-align: center;
  height: 10vh;
}
.wrapper .subscribe form, .wrapper .events-search form {
  padding-left: 10%;
}
.wrapper .subscribe form .entry, .wrapper .events-search form .entry {
  width: 60%;
  height: 45px;
}
.wrapper .subscribe form .submission, .wrapper .events-search form .submission {
  width: 30%;
  height: 52px;
}

.home-page-wrapper {
  height: 38vh;
  display: block;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

body {
  margin: 0;
  background-image: url("/img/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Neuton", serif;
}

.working-area {
  margin-top: 1.5%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.short-detail {
  display: block;
  height: 23vh;
  width: 100%;
  margin-top: 10vh;
}

.home-grid {
  display: grid;
  grid-template: 30vh/30% 30% 30%;
  grid-gap: 5%;
  width: 100%;
  margin-top: 3vh;
}

.main-grid {
  display: grid;
  grid-template: 55vh/30% 30% 30%;
  grid-gap: 5%;
  width: 100%;
  margin-top: 3vh;
}

.home-grid img, .products img {
  width: 75%;
  height: 22vh;
  border: 0.8vh solid white;
  margin-left: 10%;
}

h1, h2, h5, h6 {
  text-align: center;
}

h5, h4, h6 {
  margin: 1.6em;
  top: 0;
}

#logo {
  width: 20%;
  height: 100% !important;
  margin-left: 40%;
  position: sticky;
}

h2 {
  font-size: 25px;
  font-style: italic;
}

p {
  text-align: left;
  margin-left: 1px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e9ecef;
  border-radius: 0.3rem;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content .input-area {
  width: 10%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.footer {
  width: 100%;
  margin-top: 3vh;
  grid-template: 35vh/24% 24% 24% 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}
.footer div {
  display: block;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
table td, table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
table .centered-td {
  text-align: center;
}

.form-popup {
  display: none;
  z-index: 9;
}

.cartSize {
  min-height: 40vh;
}
.cartSize p {
  font-size: 3rem;
  text-align: center;
  padding: 8%;
}

/*# sourceMappingURL=output.css.map */
